{% load querystring from django_tables2 %}
{% load i18n %}
{% load blocktrans trans from i18n %}

<div class="table-container table-responsive">
    {% if table.page and table.paginator.num_pages > 1 %}
        {% block pagination_top %}
            {% include 'table/pagination.html' %}
        {% endblock pagination_top %}
    {% endif %}

    {% block table %}
        <table class="table table-striped"{% if table.attrs %} {{ table.attrs.as_html }}{% endif %}>
            {% block table.thead %}
                <thead>
                <tr>
                    {% for column in table.columns %}
                        {% if column.orderable %}
                        <th {{ column.attrs.th.as_html }}><a href="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}">{{ column.header }}</a></th>
                        {% else %}
                        <th {{ column.attrs.th.as_html }}>{{ column.header }}</th>
                        {% endif %}
                        </th>
                    {% endfor %}
                </tr>
                </thead>
            {% endblock table.thead %}
            {% block table.tbody %}
                <tbody>
                {% for row in table.page.object_list|default:table.rows %} {# support pagination #}
                    {% block table.tbody.row %}
                        <tr class="{% cycle "odd" "even" %}">
                            {% for column, cell in row.items %}
                                <td {{ column.attrs.td.as_html }}>{{ cell | truncatewords_html:15 }}</td>
                            {% endfor %}
                        </tr>
                    {% endblock table.tbody.row %}
                {% empty %}
                    {% block table.tbody.empty_text %}
                        {% trans "no results" as table_empty_text %}
                        <tr>
                            <td colspan="{{ table.columns|length }}">{{ table.empty_text|default:table_empty_text }}</td>
                        </tr>
                    {% endblock table.tbody.empty_text %}
                {% endfor %}
                </tbody>
            {% endblock table.tbody %}
            {% block table.tfoot %}
                <tfoot></tfoot>
            {% endblock table.tfoot %}
        </table>
    {% endblock table %}

    {% if table.page and table.paginator.num_pages > 1 %}
        {% block pagination %}
            {% include 'table/pagination.html' %}
        {% endblock pagination %}
    {% endif %}
</div>