{% extends "mainpage/index.html" %}
{% load bootstrap3 staticfiles thumbnail %}
{% load django_markdown %}

{% block head %}
<title>{{ project.name }}</title>
{% endblock %}

{% block content %}
<section class="col-md-9">
    <h1>{{ project.name }}</h1>
    <img src="{{ project.thumbnail | thumbnail_url:'large' }}" />
    {{ project.description | markdown }}
    {{ project.pk }}
</section>

<section class="col-md-3">
	<h1>Info</h1>
    <a href="{% url 'project_download' project.id %}" class="btn btn-primary btn-block">Download</a>	
</section>

{% endblock %}
