{% load bootstrap3 staticfiles %}
{% for comment in comments %}
<div class="media">
	<div class="media-left">
		<a href="{% url 'profile' comment.author.username %}">
			<img heigth="64" width="64" class="media-object" src="{% static 'profile.png' %}" alt="{{ comment.author.username }}">
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">{{ comment.author.username }}</h4>
		{{ comment.message }}
		{% if user.is_authenticated %}
		<br>
		<a class="btn btn-xs btn-default" role="button" data-toggle="collapse" href="#replyform-{{ comment.pk }}" aria-expanded="false" aria-controls="replyform-{{ comment.pk }}">Reply</a>
		<div class="collapse" id="replyform-{{ comment.pk }}">
		<form method="post" action="">
			{% csrf_token %}
			{% bootstrap_form form %}
			<input type="hidden" name="replyto" value="{{ comment.pk }}">
			<input type="submit" class="btn btn-sm btn-primary" value="Post Comment">
		</div>
		{% endif %}
		{% include "mainpage/project_comments.html" with comments=comment.get_replies form=form %}
	</div>

</div>
{% endfor %}